<div class="table-responsiveness">
    <div *ngIf="launches; else nocontent">
        <div>
            <table class="launch-table center mt-1">
                <thead>
                    <tr class="table-row">
                        <th>Flight Number</th>
                        <th>Mission Name</th>
                        <th>Launch Date</th>
                        <th>Rocket Name</th>
                        <th>Rocket Type</th>
                        <th>Launch Site</th>                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let launch of launches;" class="table-row" (click)="getLaunchDetails(launch.flight_number)">
                        <td>{{launch.flight_number}}</td>
                        <td>{{launch.mission_name}}</td>
                        <td>{{launch.launch_date_utc | date:'dd/MM/yyyy'}}</td>
                        <td>{{launch.rocket.rocket_name}}</td>
                        <td>{{launch.rocket.rocket_type}}</td>
                        <td>{{launch.launch_site.site_name}}</td>                   
                        <!-- <td *ngIf="!isEditable && isManager && showAllocationEditButton">
                            <button type="button" class="btn btn-sm" (click)="editAllocation()">Allocation <i
                                    class="fa fa-edit"></i></button>
                        </td>
                        <td *ngIf="isEditable && isManager">
                            <button class="btn btn-sm btn-primary"
                                (click)="updateAllocationPercentage(memberTasks[0].memberId, memberTasks[0].allocationPercentage)">Update</button>
                        </td> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <ng-template #nocontent>
        <div class="text-align-center mr-5">
            <span>No launches is available.</span>
        </div>
    </ng-template>
</div>