<div class="table-responsiveness">
    <div *ngIf="launches; else loading">
        <div>
            <table class="launch-table center mt-1">
                <thead>
                    <tr class="table-row">
                        <th>Flight Number</th>
                        <th>Mission Name</th>
                        <th>Launch Date</th>
                        <th>Rocket Name</th>
                        <th>Rocket Type</th>
                        <th>Launch Site</th>                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let launch of launches;" class="table-row">
                        <td class="tdlink" (click)="getLaunchDetails(launch.flight_number)">{{launch.flight_number}}</td>
                        <td>{{launch.mission_name}}</td>
                        <td>{{launch.launch_date_utc | date:'dd/MM/yyyy'}}</td>
                        <td>{{launch.rocket.rocket_name}}</td>
                        <td>{{launch.rocket.rocket_type}}</td>
                        <td>{{launch.launch_site.site_name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <ng-template #loading>
        <div class="text-align-center mr-5">
            <span>Loading....</span>
        </div>
    </ng-template>
</div>