<form #loginForm="ngForm" (ngSubmit)="login()">
    <div class="form-group">
        <input name="username" required class="form-control" placeholder="Username"
            [(ngModel)]="user.username">
    </div>
    <div class="form-group">
        <input name="password" required class="form-control" type="password" placeholder="Password"
            [(ngModel)]="user.password">
    </div>
    <div class="form-group text-center">
        <button [disabled]="!loginForm.valid" class="btn btn-success mr-2" type="submit">Login</button>
    </div>
</form>